body{}
header{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQImWP4DwWfPn36//////8MyJxPnz79Z4BxYABDBQBb5j7XRYqeKQAAAABJRU5ErkJggg==");
}
section{
    margin:10% auto;
}

.container-fluid{padding:0;border-bottom: 1px solid #e5e5e5}